streamlit
pandas
scikit-learn~=1.5.1
seaborn~=0.12.1
kedro[jupyter]~=0.19.12
kedro-viz>=6.7.0
kedro-datasets[pandas-csvdataset,pandas-exceldataset,pandas-parquetdataset,plotly-plotlydataset,plotly-jsondataset,matplotlib-matplotlibwriter]>=3.0
jupyterlab>=3.0
ipython>=8.10
notebook
autogluon.tabular[lightgbm,catboost,xgboost]==1.3.1
decorator>=5.0.0
joblib